{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <h1>Reset password below</h1>
    <p>Type your current password, and then your new password twice. </p>
    <form action="/passwordreset" method="post">

        <div class="form-group">
            <input autocomplete="off" class="form-control" name="currentpassword" placeholder="Current password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="confirm" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


{% endblock %}
