{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}



    <!--If the user has no stocks to sell, display nothing-->
    {% if not results %}
        <div>
            <p>You don't have any stocks to sell, please visit the buy page!</p>
        </div>
    {% endif %}



    {% if results %}
        <form action="/sell" method="post">

            <div class="form-group">
                <label for="symbol">Stock symbol:</label>
                <select name="symbol" id="symbol" class="form-control" aria-label="Default select example">
                <option selected></option>
                    {% for item in results %}
                        <option value={{item.stock_symbol}}>{{ item.stock_symbol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Enter number of shares" type="text">
            </div>

            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    {% endif %}


{% endblock %}
